.bg {
  overflow: hidden;
  margin-left: -230px;
  position: absolute;
  z-index: -100;
  @include for-size(tablet-portrait-up){
    margin-left: 200px;
  };
}

.nav {
  padding-top: 30px;
  &-logo {
    &-desktop {
      display: none;
      @include for-size(tablet-portrait-up) {
        display: block;
      };
    }
    &-mobile {
      width: 50%;
      @include for-size(tablet-portrait-up) {
        display: none;
      };
    }
  }
  &-burger {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: $mainColor;
    @include for-size(tablet-portrait-up) {
      display: none;
    };
  }
  &-list {
    display: none;
    @include for-size(tablet-portrait-up) {
      margin-left: 100px;
      display: flex;
    };
    &-item {
      margin-left: 20px;
      font-size: 12px;
      color: $mainColor;
    }
  }
}

.title {
  font-size: 24px;
  margin-top: 49px;
  @include for-size(tablet-landscape-up) {
    font-size: 80px;
  };
  &-sub {
    font-size: 10px;
    margin-top: 5px;
    @include for-size(tablet-landscape-up) {
      font-size: 16px;
    };
  }
}

.social {
  display: none;
  @include for-size(tablet-landscape-up) {
    display: block;
  };
  &-icon{
    width: 50%;
    margin-top: 5px;
    cursor: pointer;
  }
}

.anounce {
  height: 112px;
  margin-top: 410px;
  background-image: linear-gradient(-45deg, #6BADF0 0%, #CA93FF 100%);
  @include for-size(tablet-portrait-up) {
    //margin-top: 380px;
  };
  &-subtitle {
    padding-top: 38px;
    padding-bottom: 5px;
    font-size: 10px;
  }
  &-title {
    font-weight: bold;
    font-size: 14px;
  }
}
// .nav {
//   padding-top: 60px;
//   &-list {
//     display: none;
//     font-weight: light;
//     &-item {
//       &-link {
//         margin-left: 20px;
//         font-size: 12px;
//         color: $mainColor;
//       }
//     }
//     @include for-size(tablet-portrait-up) {
//       display: flex;
//     }
//   }
//   &-burger {
//     @include for-size(tablet-portrait-up) {
//       display: none;
//     };
//     &-bar {
//       width: 25px;
//       height: 2px;
//       background-color: $mainColor;
//     }
//   }
// }
